SyntaxError: unexpected character after line continuation character (2086978760.py, line 1)

# Function check

Does this relation represent a function?

Check each independent variable, and if it reappears in the list, is the dependent variable the same as the first appearance? If so, this is a function.

This will dumbly check each and print it's results in a very spaghetti spill way.

It then swaps domain and range and checks if the opposing relation is a function as well. Check outputs...

So, does $y=f(x)$?

Inputs can share outputs, but one input cannot have more than one output. Because when the function takes an input it has to be deterministic which output will occur every time or it isn't a function.

---

**From Precalculus, OpenStax**

Instead of a notation such as $y = f (x)$, could we use the same symbol for the output as for the function, such as
$y = y (x)$, meaning *“y is a function of x?”*
Yes, this is often done, especially in applied subjects that use higher math, such as physics and engineering.
However, in exploring math itself we like to maintain a distinction between a function such as $f$, which is a rule or
procedure, and the output $y$ we get by applying $f$ to a particular input $x$. This is why we usually use notation such as
$y = f (x)$, $P = W(d)$, and so on.

In [16]:
import pandas

# relation = {(1,2), (2,4), (3,6), (4,8), (5,10)} # function
# relation = {(1,2), (2,4), (1,6), (4,8), (5,10)} # not a function
# relation = {(1,2), (2,4), (1,2), (4,8), (5,10)} # function
# relation = {('plain donut', 1.49), ('jelly donut', 1.99), ('chocolate donut', 1.99)} # function
# relation = {(1.49, 'plain donut'), (1.99, 'jelly donut'), (1.99, 'chocolate donut')} # not a function
# relation = {('0-56', 0.0), ('57-61', 1.0), ('62-66', 1.5), ('67-71', 2.0), ('72-77', 2.5), ('78-86', 3.0), ('87-91', 3.5), ('92-100', 4.0)} # function
# relation = {('Babe Ruth', 1), ('Willie Mays', 2), ('Ty Cobb', 3), ('Walter Johnson', 4), ('Hank Aaron', 5)} # function
relation = {('January', 31), ('February', 28), ('March', 31), ('April', 30), ('May', 31), ('June', 30), ('July', 31), ('August', 31), ('September', 30), ('October', 31), ('November', 30), ('December', 31)}

def swap(_domain, _range):
    print(f'zipping {_range} to {_domain}\n')
    return list(zip(_range, _domain))

def check():

    for index, item in enumerate(relation):

        domain.append(item[0])
        range_.append(item[1])

        if item[0] in relation_dict.keys():

            print(f'{item[0]} in {relation_dict.keys()}')

            if relation_dict[item[0]] != item[1]:

                print(f'{relation_dict[item[0]]} != {item[1]}')
                raise UserWarning(f'Not a function, input \
variable yields many outputs. {relation}')

        relation_dict[item[0]] = item[1]

domain = []
range_ = []
relation_dict = {}
check()

# if you want to check and see the relation is a function
# after swapping domain and range run next

# relation = set(swap(domain, range_))
# print(f'Relation: {relation}')
# domain = []
# range_ = []
# relation_dict = {}
# check()

df = pandas.DataFrame(data=[domain, range_], index=['Domain (input)', 'Range (ouput)'])
df

,0,1,2,3,4,5,6,7,8,9,10,11
Domain (input),November,April,October,December,July,August,January,June,September,May,February,March
Range (ouput),30,30,31,31,31,31,31,30,30,31,28,31

# Interval Notation

|Inequality|Interval Notation|Graph on a number line|Description|
|---|---|---|---|
|$x>a$|$(a,\infty)$|$\leftarrow(a\longrightarrow$|x is greater than a|
|$x<a$|$(-\infty,a)$|$\longleftarrow a)\rightarrow $|x is less than a|
|$x\geq a$|$[a,\infty)$|