# Intermediate Algebra

## Find Factors, Prime Factorizations, and Least Common Multiples

### Calculate a series of multiples; the product of a base number and a counting number.

Two methods are shown.

- The first is the familiar for loop method, printing the output to the sys.stdout.
- The second returns a pandas DataFrame, with a single series.

In [247]:
import numpy as np
import pandas as pd
import json
import time

def big_table(count: int):

    '''
    Show a big table of multiples.

    Parameters:

        count : int     The number of base number tables to generate.
    '''

    table_container = []

    for i in range(1, count+1):

        table_container.append(mult_table_internal(i, 12))

    df = pd.DataFrame()

    for i in table_container:

        df = pd.concat([df, i], axis=1, ignore_index=True)

    df.columns = [x for x in range(1, df.shape[1]+1)]
    
    return df

def mult_table(base: int, count: int) -> pd.DataFrame:

    '''
    Calculate and display the multiples of a base number.

    Formula: base*i for i in range(count).

    Parameters:

        base : int      The base number for which to calculate multiples.

        count : int     The range of counting numbers.

    Returns:

        df : dataframe  The table of mutliples in a dataframe.
    '''

    start = time.time()

    base = int(base)

    count = int(count)

    '''
    Traditional for loop method:

    for i in range(1, count+1, 1):

        print(f'{base} * {i} = {base*i}')
    '''

    df = pd.DataFrame([base*i for i in range(count+1)], columns=[f'Multiples of {base}'], index=[f'{base}*{i}' for i in range(count+1)])

    stop = time.time()

    return df

def mult_table_internal(base: int, count: int) -> pd.DataFrame:

    '''
    Calculate and display the multiples of a base number.

    Formula: base*i for i in range(count).

    Parameters:

        base : int      The base number for which to calculate multiples.

        count : int     The range of counting numbers.

    Returns:

        df : dataframe  The table of mutliples in a dataframe.
    '''

    start = time.time()

    base = int(base)

    count = int(count)

    '''
    Traditional for loop method:

    for i in range(1, count+1, 1):

        print(f'{base} * {i} = {base*i}')
    '''

    df = pd.DataFrame([base*i for i in range(count+1)])

    stop = time.time()

    return df

In [248]:
mult_table(3, 12)

      Multiples of 3
3*0                0
3*1                3
3*2                6
3*3                9
3*4               12
3*5               15
3*6               18
3*7               21
3*8               24
3*9               27
3*10              30
3*11              33
3*12              36

In [252]:
df = big_table(10)

In [253]:
df.T

    0   1   2   3   4   5   6   7   8   9    10   11   12
1    0   1   2   3   4   5   6   7   8   9   10   11   12
2    0   2   4   6   8  10  12  14  16  18   20   22   24
3    0   3   6   9  12  15  18  21  24  27   30   33   36
4    0   4   8  12  16  20  24  28  32  36   40   44   48
5    0   5  10  15  20  25  30  35  40  45   50   55   60
6    0   6  12  18  24  30  36  42  48  54   60   66   72
7    0   7  14  21  28  35  42  49  56  63   70   77   84
8    0   8  16  24  32  40  48  56  64  72   80   88   96
9    0   9  18  27  36  45  54  63  72  81   90   99  108
10   0  10  20  30  40  50  60  70  80  90  100  110  120